body {
    background-color: #f5f5f5;
}

.promo {
    background-color: #fec500;
    height: 150px;
}

.queue {
    background-color: #8ec5e9;
    height: 100px;
}

.prt {
    background-color: #8ec5e9;
    height: 50px;
}